  .open{
    display: flex;
    flex-direction: column;
    width: 150px;
    position: fixed;
    right: 50px;
    top: 25px;
    z-index: 15;
    border: 1px solid white;
    border-radius: 10px;
    background-color: rgb(38, 38, 56);
  }
  .small{
    display: none;
  }
  @media (max-width: 1000px) {
    .big{
      display: none;
    }
    .small{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        transform: scale(1.5);
    }
  }
  