  .open{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 90px;
    top: 45px;
    z-index: 2;
    border: 1px solid white;
    background-color: rgb(41, 41, 150);
  }
  .small{
    display: none;
  }
  @media (max-width: 1000px) {
    .big{
      display: none;
    }
    .small{
        display: block;
        width: 20px;
    }
  }
  