.table {
    color: white;
    font-size: large;
    font-weight: 500;
    width: 30%;
    min-width: 280px;
    margin: 30px auto;
    padding: 10px;
}

.form {
    margin: 10px auto;
}

.space {
    margin: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #62abf0;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
}

textarea {
    height: 100px;
    width: 100%;
}

td {
    width: 100%;
}